/*

	---------Jane templates---------
		Author : 秋天日记
		Home : http://qtnote.com

*/


::-webkit-scrollbar {width:0.6em;}
::-webkit-scrollbar-track{background:orange;}
::-webkit-scrollbar-thumb {background:#addf27;}
::-webkit-scrollbar-thumb:hover{background:#00eeff}
::-webkit-scrollbar-thumb:active{background:#00aff0}
/*hover过渡*/
a,.navbar-default .dropdown a,#echo-log  .avatar img,.comment-block  .gra-img img,.navbar-default .dropdown-toggle a,.container .panel,#related-log .related-log img{

transition:all 0.4s linear;
-moz-transition:all 0.4s linear;
-webkit-transition:all 0.4s linear;
-o-transition:all 0.4s linear;
}
#echo-log  .avatar img:hover,/*阅读文章页评论头像*/
.comment-block .gra-img img:hover/*最新评论*/
,.hover-img{
	box-shadow:0 0 5px #ccc;
cursor:pointer; _cursor:hand;
transform:rotate(360deg);
 -webkit-transform:rotate(360deg);
 -moz-transform:rotate(360deg);
 -o-transform:rotate(360deg);border-radius:50%;);
}
/*body*/
body{
	font-family: '微软雅黑' !important;
	min-width: 340px;
	color:#666;

}
img{
	margin:0 !important;
}
a{
	color:green;
}
a:hover{
	color: #ec971f;
	text-decoration: none
}
.list-group{
	font-weight: 500;
}
.tooltip{
	font-family: '微软雅黑';
	z-index: 99999;
}

/*头部*/
header{
   margin: auto auto -1em auto;
   position: relative;
   z-index: 10;
 }
 #header h2{

 }
 #author-img {
 	text-align: center;
 	margin:1em;
 }
#author-img img{
	max-width: 7em;
 	max-height: 7em;
 	

}
#admin {
	position: absolute;right:0;z-index:11;
}

header sub .bloginfo{
	
	font-size: 80% !important;
}
header .bloginfo{
	text-shadow: 0 3px 3px #fff;
}
 #banner img{

 	position: fixed;
 	width: 100%;
 	height:100%;
	top:0;
	 bottom:0;
 	 z-index:-1;
 	
 }

#header{
	max-width: 1300px;
	margin:auto;

}

ul,li{
	list-style: none;

}
#myTab1  a:hover,#myTab2  a:hover{
		cursor:pointer !important;
		}
/*导航*/

nav{
	max-width: 1200px;
	margin:auto;
	position: relative;
}
.m-name{
	margin: 10px auto 
}
.nav-fixed{
	position: fixed;
	top:0;
	right:0;
	left:0;

}
.nav-search{
	position: absolute;
	top:0.5em;
	right: 4em;
	font-size: 1.2em;
	color:#ec971f;
}
.navbar-default{
	background:rgba(255,255,255,0.8);
}

.navbar-default,.navbar-default li{
	border:0 !important;
	border-radius: none !important;

	
}
.navbar-default{
	border-top: 6px solid #ec971f !important;

   box-shadow: 0 1px 5px #ccc;
	
}


.navbar a{
	color: #ec971f !important;
}
.navbar-default .dropdown{
	opacity: 0.9;
}
.navbar-default .dropdown a:hover,.navbar-default .dropdown-toggle a:hover{
	background: #ec971f !important;
	color:#fff !important;
}


.current>a{
background: #ec971f;
color:#fff !important;
position: relative;
z-index: 2

}
#nav-collapse{
	background: rgba(255,255,255,0.8);
	text-align:center;
	margin:-0.35em auto -0.5em auto !important;
	position: absolute;
	z-index: 3;

}
.nav-collapse-fixed{
	position: fixed !important; 
	top:4.4em;
}
.nav-search-toggle{
	
	margin:auto;
}

.dropdown-menu{
	padding:0 !important;
	top:3.5em;
}
.dropdown-menu a{
	line-height: 2.5em !important
}

.navbar .divider{
	margin:0 !important;
	padding: 0;
}



/*主体*/
.container{
	padding: 5px;
	position:relative;
}


/*轮播*/
#myCarousel{
	height: 100%;
	overflow: hidden;
	margin-bottom: 0.7em;

}

#myCarousel .carousel-inner .item{
  opacity:0;
  -webkit-transition-property:opacity ;
  -moz-transition-property:opacity ;
  -ms-transition-property:opacity ;
  -o-transition-property:opacity ;
  transition-property:opacity ;
}

#myCarousel .carousel-inner .active{
  opacity: 1;
}

#myCarousel .carousel-inner .active.left,
#myCarousel .carousel-inner .active.right{
  left: 0;
  opacity: 0;
}

#myCarousel .carousel-inner .next.left,
#myCarousel .carousel-inner .prev.right {
  opacity: 1;
}
#myCarousel .carousel-caption{
	text-shadow:0 0 5px orange;
	font-weight:600;
}
#myCarousel img{
	width:100%;
	height: 16.5em;
	border-radius: 6px;
}
.container>.panel,.container>.panel>.panel{
	background:none;
	border:none;
	box-shadow: none;
	position:relative;
}

.panel-body{
	padding-top:17px;
	padding-bottom: 3px;
}
.freedom_list .panel {
	padding:0;
	margin-bottom: 0.7em;
}


.freedom_list  a{
	position: relative;
	line-height: 1.4em;
	display: block;
	width:100%;
	padding-right:6em;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}

.freedom-list-date{
	position: absolute;
	top: 1em;
	right:1em;

}
.freedom_list .nav-tabs li{
	width:50%;
}
.freedom_list .nav-tabs a:hover{
	cursor: pointer !important;
}

.container>.panel>.panel{
	background: none;
	border:none;
	padding:4px;


}
#log-list{
	border-radius:5px 5px 0 0;
	overflow: hidden;
	padding:0;
	border: 1px solid #faebcc;
	box-shadow:0 0 1px #f5f5f5;

}
#log-list .panel{
	padding: 0;
	border-radius:0;
}

#log-list>.panel{
	margin:-1px 0 0 0;
	
	position: relative;

}
#log-list h4{
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
	position: relative;
	margin:0 0 0.5em 0;
	padding:0.8em 3em 0.8em 1.5em;
	border-top: 1px solid #faebcc;
}
#log-list .panel:first-child h4{
	border-top:none;
}
#log-list h4 .hot,#log-list h4 .new,#log-list h4 .top{
	position: absolute;
	top:0.7em;
	
}

#log-list h4 .new,#log-list h4 .hot{
	right:0.8em;
	font-style: italic;
	font-size: 1em;
}
#log-list h4 .top{
	right:2.5em;
	
}
#log-list .article-img{
	position: relative;
	height:10em;


}

#log-list .article-img{
	display: inline-block;
	width:35%;

}
#log-list .article-img img{
	position: absolute;
	top:0;
	right:1em;
	left: 1em;
	bottom:0;
	height:100%;
	width:90%;
	
}
#log-list .article-content{
	position: relative;
	display: inline-block;
	width:63%;
	vertical-align: top;
	font-size: 1.05em;
	height:10em;
}
#log-list .article-content .article-body{
	text-indent:32px;	

}
#log-list .article-info{

	position: absolute;
	bottom:0.6em;
	left:1em;
	right:1em;

}
#log-list .article-info span{
	margin:0;
}
#log-list .date{
	float: right;
}
#log-list>.panel:hover{
	opacity: 0.8;
	cursor:pointer;
}
/*侧边栏*/
#side .panel{
	margin-bottom:0.7em;
}
#twitter,
#tags,
#sort,
#newcomment,
#recode,
.link,
#custom,
#logsearch,
#blogger{
	padding: 0;

}

#recode li{
	display: inline-block;
	width:49%;
	border-right: none;
	border-left: none;

}
#calendar{
	width:90%;
	margin:1em auto;
	color:#999;
	border-radius:5px;
	overflow: hidden;
	font-weight:500;
}
#calendar .calendar{
	width:100%;b
	border-radius:5px;
	
}
#calendar  table{
	width: 100%;
	text-align: center;
}
#calendar table td{
	border:1px solid #f5f5f5;
}
#calendar table tr {
	width: 100%

}
#calendar table .day,#calendar table  .sun{
	background: #ec971f;
	color:#fff;
}
#calendar .calendartop  tr{
	background: #ec971f;
	height:2.5em;
}
#calendar .calendartop tbody td{
	border:none;
display: inline-block;
width:48%;
color:white;
letter-spacing: 2px;
}
#calendar .calendartop tbody td a{
color:green;
display: inline-block;
border-radius:5px;
background: #f5f5f5;
width: 18%;
margin:0.5em;
}
#calendar .calendartop tbody td a:hover{
	background:orange;
}
#blogger .img{
	margin:-4em auto auto ;
	padding: 0;
	width:7em;
	height:7em;
}
#blogger img{
	margin:auto;
	width:100%;
	height:100%;
	position: relative;
	z-index: 2
}
#blogger .name{
	text-align: center;
	letter-spacing: 3px
}
#blogger .content{
	width:70%;
	padding-top:3em;
	margin:-3em auto auto;
	
	border-top: 5px solid #fcf8e3;
	position: relative;
	z-index: 1;
	border-radius:50%;
	
}
#logsearch form{
	margin:1em;
}

#tags a{
	display: inline-block;
	margin: 4px;
	padding: 10px;
	color:white;
}
#sort a{
	display: inline-block;
	width: 28%;
	margin: 4px;
	padding: 10px;
	color:white;
}
#content .link li{
	border:none;
	text-align: center;
}
#content .link a{
	display: inline-block;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
	width: 28%;
	margin: 5px;
	padding: 10px;
	border-bottom: 1px solid #ec971f;
	color:#999;
	font-weight:500;
}
.link img{
	width:16px;
	height:16px;

}
#twitter .date{
	text-align: right;
	font-size: 0.8em
}
#newcomment{
}
#newcomment .comment-block{
	height:auto;
	position: relative;

}
#newcomment .newcomment{

	padding: 7px;
	display: inline-block;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	box-shadow: 0 0 1px  #e5e5e5;
	height:auto;
	position: absolute;
	right:0;
	left:5em;
	top:-0.22em;

}
#newcomment .newcomment a{
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
	margin-left: 20px;
	display: block;
	width: 95%

}
#newcomment .comment-name{
	color:#999;
}
#newcomment .gra-img{
	display: inline-block;
	width:4em;
	height:4em;
	padding: 0;
	margin :0 1em auto 0 ;
}
#newcomment .gra-img img{
	width:3.8em;
	height:3.8em;
	border-radius: 100%;
	

	}
#newcomment .newcomment:before{
	
	position: absolute;
	content:' ';
	border-style:solid;
	border-width:0.8em;
	border-color: transparent  #e5e5e5 transparent transparent;
	top:1em;
	left:-1.6em;
	z-index: 1;

}
#newcomment .newcomment img{
	width:2.2em !important;
	height:2.2em !important;
}
#newcomment .newcomment:after{
	position: absolute;
	content:' ';
	border-style:solid;
	border-width:0.8em;
	border-color: transparent #fff transparent transparent;
	top:1em;
	left:-1.53em;
	z-index: 2;

}
#tags  a:hover,#sort  a:hover,#newlog a:hover{
	color:#ec971f;
	background: #f5f5f5
	
}
#page .pagination{
	margin:auto !important;
}
#page .panel{
	border-radius: 0 0 4px 4px;
	margin:5px auto;
	box-shadow: 0;

}

/*echo_log.php*/
#echo-log{

	word-break:break-all ;	padding:0;
}
#echo-log h3{
	font-weight:600;
	line-height: 2em
}
#echo-log h4{
	font-weight:500;
	line-height: 1.5em
}
 .log-content{
	font-size:1.12em !important;
	letter-spacing: 1px;

}
#echo-log .nextlog{
	line-height: 2.5em;
	background:#fcf8e3;
	width: 80%;
	margin:auto 10%;
	text-align:center;
	position: relative;
	border-radius: 2em;	
}
#echo-log .nextlog>span{
	opacity: 0.7;
}
#echo-log .nextlog a.prev,#echo-log .nextlog a.next{
	position: absolute;
	top:0;
	bottom:0;
	font-size: 1.8em;
	width:15%;
	display: inline-block;
	background: rgba(0,0,0,0.4);
	color:white;
	z-index: 10;
	}
#echo-log .nextlog a.prev{
	left: 0;
	border-radius: 50% 3px 3px 50%;
}
#echo-log .nextlog a.next{
	right: 0;
	border-radius: 3px 50% 50% 3px;
}
#echo-log .nextlog a.next:hover,#echo-log .nextlog a.prev:hover{
	background:rgba(0,0,0,0.7);	
}
#echo-log .panel{
	box-shadow: none;
	border:none;
}
#echo-log .tag{
	text-align: center;
	font-family: '微软雅黑';
	font-size: 0.9em;
}
#echo-log .copy ul {
	padding:0;
}
#echo-log .log-content img,#readerswall_side img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#article-comment{
	padding: 0;
}
#article-comment .panel-heading .paenl-title{
	margin:0;
	font-size:1.2em;
} 
#article-comment .poster{
	display: block;
	padding: 0.5em 3.5em;
}
#article-comment .comment-time{
	float: right;
}
#article-comment .reply{
	float: left;
}

#article-comment .comment-reply{
	margin-top:0.7em;
}
#article-comment .list-group-item .list-group-item{
	padding:0;
	border:none !important;
}
#article-comment .avatar {
	position: relative;
	display: inline-block;
	width:4em;
	height:4em;
}
#article-comment .children-comments .list-group {
	padding:0;
	margin:0;
}
#article-comment .children-comments .comment-info,#article-comment .comment-info-parent{
	word-break:break-all ;
	display: inline-block;
	width:85%;
	float: right;
	border:1px solid #ededed;
	border-radius: 4px;
	box-shadow: 0 0 1px #e5e5e5;
	margin:3px;
	padding:10px;
	position: relative;
}
#article-comment .comment-info-parent:before{
	
	position: absolute;
	content:' ';
	border-style:solid;
	border-width:0.8em;
	border-color: transparent  transparent  #ddd transparent;
	top:-1.6em;
	left:1em;
	z-index: 1;

}
#article-comment .comment-info-parent:after{
	
	position: absolute;
	content:' ';
	border-style:solid;
	border-width:0.8em;
	border-color: transparent  transparent  #fff transparent;
	top:-1.53em;
	left:1em;
	z-index: 1;

}
#article-comment .children-comments .comment-info:before{
	
	position: absolute;
	content:' ';
	border-style:solid;
	border-width:0.8em;
	border-color: transparent  #ddd transparent transparent;
	top:1em;
	left:-1.6em;
	z-index: 1;

}

#article-comment .children-comments .comment-info:after{
	position: absolute;
	content:' ';
	border-style:solid;
	border-width:0.8em;
	border-color: transparent #fff transparent transparent;
	top:1em;
	left:-1.53em;
	z-index: 2;

}
#article-comment .avatar img{
	position: absolute;
	top:0;
	bottom:0;
	right: 0;
	left:0;
	width:100%;
	height:100%;
}
#echo-log .input-group{
	margin:0.2em 5%;
	width:90%;
}

#comment-place textarea{
	resize:none;

}
/*ajax 评论按钮*/
#commentform button img{
	width: 22px;
	height: 22px;
}

/*t.php*/
#tw{
	padding:0;
}
#tw h4{
	line-height:2em;
}
#tw ul li{
	border: none;
}
#tw .name{
	color:green;
}
#tw .name:after{
	content:'：';
}
#tw .time{
	margin: 7px;
}
.t-content .tw-time{
	float: right;
}
.t-content .post{
	float: left;
}
#tw .post1{
	word-break:break-all ;
	border:1px solid #ededed;
	border-radius: 4px;
	box-shadow: 0 0 1px #e5e5e5;
	margin:3px;
	padding:10px;
}
#tw  .huifu{margin:auto;background:#f6faf4;text-align:center;display:none;}
#tw .input-group,#tw textarea{
	width:90%;
	margin : 0.3em 5%;
}
/*gotop*/
.cbbfixed {position: fixed;right: 10%;transition: bottom ease .3s;z-index: 3;cursor:pointer;}
.cbbfixed a{border-radius:5px;}

.cbbfixed .cbbtn {padding:0.7em;display: block;background:#fff;}
.cbbfixed .cbbtn:hover {background:#444 !important;}

@media screen and (max-width:520px){
	#footer-link .link a{
	width:24%;
	margin:1px;
	padding: 2px;
}

	#tw .panel-body ,#article-comment .panel-body{
		padding:0;
	}
#article-comment .avatar {
	margin:1em -0.5em;
	width:3.5em;
	height:3.5em;

}

	#article-comment .comment-info{
	width:65%;

	}
	#log-list h4{
		padding-left: 0.4em
	}
	#log-list .article-content{
		height:7em;
		width:50%;
	}
	#log-list .article-img{
		width:48%;
		height:7em;
	
	}

	#log-list .article-body{
		display: none;
	}
	
#log-list .article-info{
		position: static;
	}
	#log-list .article-info>span{
		display: block;
		letter-spacing: 3px;
	}
	#log-list .article-info .date{
		float: none;
	}
}

@media screen and (min-width:768px){


	.dropdown-menu:before{
	
	position: absolute;
	content:' ';
	border-style:solid;
	border-width:0.5em;
	border-color: transparent transparent #ccc transparent;
	top:-0.97em;
	left:2em;
	z-index: -1;

}

.dropdown-menu:after{
	position: absolute;
	content:' ';
	border-style:solid;
	border-width:0.5em;
	border-color: transparent transparent #FFF transparent;

	top:-0.89em;
	left:2em;
	z-index: -1;

}
}


@media screen and (max-width:992px) {

.article .article-content img{
	min-height:8em;
	min-width:10em;
	
	
}
.cbbfixed {right: 2px;}
#article-comment .children-comments .comment-info{
	width:87%;

}

}

@media screen and (min-width:1200px) {

#article-comment .children-comments .comment-info{
	width:87%;
}
}

@media screen and (max-width:690px){

	#article-comment .children-comments .comment-info{
	width:82%;

}
}

}
@media screen and (max-width:580px){

	#article-comment .children-comments .comment-info{
	width:82%;

}

}
@media screen and (max-width:450px){
#article-comment .children-comments .avatar,#article-comment .avatar-parent{
	
	margin-left: -0.8em;

}

#article-comment .children-comments .avatar,#article-comment .avatar-parent{
	width:3em;
	height:3em;
}
}
/*页脚*/
#footer-link{
	margin-top:-1em;	
}
#footer-link .link li{
	border:none;
	text-align:left;
}
#footer-link .link a{
	display: inline-block;
	margin: 5px;
	padding: 10px;
	color:#999;
	font-weight:500;

}
#footer-link .panel-footer{

	font-weight:500;

}
#footer{
margin :0 auto;
	border:none;
text-align: center;	
	padding:0;
line-height: 2em;

}
#footer .panel{
	min-height:7em;	
	padding:0;
}

/*related log*/

#related-log .related-log p{
	margin:0.8em 0 ;
}
#related-log .related-log{
	
	margin-bottom:10px;
	border-right:2px #f5f5f5 solid;	
	
}
#related-log .related-log:last-child{
	

	border-right:none;	
	
}
#related-log .related-log img{
	height:10em;	
	width:100%;
	border-radius:4px;
}
#related-log .related-log img:hover{
	opacity:0.7;
}

/*灯箱*/

		#imagelightbox
		{
			cursor: pointer;
			position: fixed;
			z-index: 10000;

			-ms-touch-action: none;
			touch-action: none;

			-webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
			box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
		}


		/* ACTIVITY INDICATION */

		#imagelightbox-loading,
		#imagelightbox-loading div
		{
			border-radius: 50%;
		}
		#imagelightbox-loading
		{
			width: 2.5em; /* 40 */
			height: 2.5em; /* 40 */
			background-color: #444;
			background-color: rgba( 0, 0, 0, .5 );
			position: fixed;
			z-index: 10003;
			top: 50%;
			left: 50%;
			padding: 0.625em; /* 10 */
			margin: -1.25em 0 0 -1.25em; /* 20 */

			-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
			box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
		}
			#imagelightbox-loading div
			{
				width: 1.25em; /* 20 */
				height: 1.25em; /* 20 */
				background-color: #fff;

				-webkit-animation: imagelightbox-loading .5s ease infinite;
				animation: imagelightbox-loading .5s ease infinite;
			}

			@-webkit-keyframes imagelightbox-loading
			{
				from { opacity: .5;	-webkit-transform: scale( .75 ); }
				50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
				to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
			}
			@keyframes imagelightbox-loading
			{
				from { opacity: .5;	transform: scale( .75 ); }
				50%	 { opacity: 1;	transform: scale( 1 ); }
				to	 { opacity: .5;	transform: scale( .75 ); }
			}


		/* ARROWS */

		.imagelightbox-arrow
		{
			width: 3.75em; /* 60 */
			height: 7.5em; /* 120 */
			background-color: #444;
			background-color: rgba( 0, 0, 0, .5 );
			vertical-align: middle;
			display: none;
			position: fixed;
			z-index: 10001;
			top: 50%;
			margin-top: -3.75em; /* 60 */
		}
		.imagelightbox-arrow:hover,
		.imagelightbox-arrow:focus
		{
			background-color: #666;
			background-color: rgba( 0, 0, 0, .75 );
		}
		.imagelightbox-arrow:active
		{
			background-color: #111;
		}
			.imagelightbox-arrow-left
			{
				left: 2.5em; /* 40 */
			}
			.imagelightbox-arrow-right
			{
				right: 2.5em; /* 40 */
			}
			.imagelightbox-arrow:before
			{
				width: 0;
				height: 0;
				border: 1em solid transparent;
				content: '';
				display: inline-block;
				margin-bottom: -0.125em; /* 2 */
			}
				.imagelightbox-arrow-left:before
				{
					border-left: none;
					border-right-color: #fff;
					margin-left: -0.313em; /* 5 */
				}
				.imagelightbox-arrow-right:before
				{
					border-right: none;
					border-left-color: #fff;
					margin-right: -0.313em; /* 5 */
				}

		#imagelightbox-loading,
		.imagelightbox-arrow
		{
			-webkit-animation: fade-in .25s linear;
			animation: fade-in .25s linear;
		}
			@-webkit-keyframes fade-in
			{
				from	{ opacity: 0; }
				to		{ opacity: 1; }
			}
			@keyframes fade-in
			{
				from	{ opacity: 0; }
				to		{ opacity: 1; }
			}

		@media only screen and (max-width: 41.250em) /* 660 */
		{
			#container
			{
				width: 100%;
			}

			.imagelightbox-arrow
			{
				width: 2.5em; /* 40 */
				height: 3.75em; /* 60 */
				margin-top: -2.75em; /* 30 */
			}
			.imagelightbox-arrow-left
			{
				left: 1.25em; /* 20 */
			}
			.imagelightbox-arrow-right
			{
				right: 1.25em; /* 20 */
			}
		}

		@media only screen and (max-width: 20em) /* 320 */
		{
			.imagelightbox-arrow-left
			{
				left: 0;
			}
			.imagelightbox-arrow-right
			{
				right: 0;
			}
		}

		#imagelightbox-close
		{
			width: 2.5em; /* 40 */
			height: 2.5em; /* 40 */
			text-align: left;
			background-color: #666;
			border-radius: 50%;
			position: fixed;
			z-index: 100000;
			top: 2.5em; /* 40 */
			right: 2.5em; /* 40 */

			-webkit-transition: color .3s ease;
			transition: color .3s ease;
		}
			#imagelightbox-close:hover,
			#imagelightbox-close:focus
			{
				background-color: #111;
			}
			#imagelightbox-close:before,
			#imagelightbox-close:after
			{
				width: 2px;
				background-color: #fff;
				content: '';
				position: absolute;
				top: 20%;
				bottom: 20%;
				left: 50%;
				margin-left: -1px;
			}
			#imagelightbox-close:before
			{
				-webkit-transform: rotate( 45deg );
				-ms-transform: rotate( 45deg );
				transform: rotate( 45deg );
			}
			#imagelightbox-close:after
			{
				-webkit-transform: rotate( -45deg );
				-ms-transform: rotate( -45deg );
				transform: rotate( -45deg );
			}
/*loading*/
			
.wrapper {
  position: absolute;
  width:100%;
  left: 0;
  right: 0;
 
  top: 0;
  margin: auto;
}

.loader {
  height:100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.loader div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: orange;
  -webkit-animation: go 0.4s infinite alternate ease;
          animation: go 0.4s infinite alternate ease;
  box-shadow: 0 0 20px orange;
}
.loader div:nth-child(1) {
  -webkit-animation-delay: -0.52s;
          animation-delay: -0.52s;
}
.loader div:nth-child(2) {
  -webkit-animation-delay: -0.44s;
          animation-delay: -0.44s;
}
.loader div:nth-child(3) {
  -webkit-animation-delay: -0.36s;
          animation-delay: -0.36s;
}
.loader div:nth-child(4) {
  -webkit-animation-delay: -0.28s;
          animation-delay: -0.28s;
}
.loader div:nth-child(5) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.loader div:nth-child(6) {
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}
.loader div:nth-child(7) {
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}
.loader div:nth-child(8) {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}
.loader div:nth-child(9) {
  -webkit-animation-delay: -0.08s;
          animation-delay: -0.08s;
}
.loader div:nth-child(10) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes go {
  100% {
    background: transparent;
    -webkit-box-flex: 10;
    -webkit-flex: 10;
            flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}

@keyframes go {
  100% {
    background: transparent;
    -webkit-box-flex: 10;
    -webkit-flex: 10;
        -ms-flex: 10;
            flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}